.footer {
  padding: 32px 0;
  background: #ededed;
}

.footer_menu_holder {
  @extend %clearfix;
  letter-spacing: .02em;
}

.footer_col {
  margin-bottom: 22px;

  &.action_col {
    text-align: center;
  }

  @include respond-to-min($resp_step_1) {
    float: left;
    width: 50%;

    &.info_col {
      clear: both;
    }

    &.action_col {
      text-align: left;
      margin-left: -23px;
    }
  }

  @include respond-to-min($resp_step_2) {
    width: 25.4%;

    &.action_col {
      width: 23.8%;
      margin-left: 0;
      text-align: right;
    }

    &.info_col {
      clear: none;
    }
  }
}

.footer_menu {
  font-size: 13px;

  > li {
    margin-bottom: 9px;
  }
}

.footer_caption {
  font-weight: bold;
  margin-bottom: 25px;
}

.footer_action {
  @include transition_all(background .3s);
  @extend %icon_pseudo;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 12px 23px;
  color: #fff;
  background: $clr_orange;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  text-align: center;
  line-height: 46px;

  &:before {
    font-size: 26px;
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    background: darken($clr_orange, 5%);
  }

  @include respond-to-min($resp_step_1) {
    margin: 0 0 23px 23px;
  }
}

.footer_link {
  text-decoration: none;
  color: $default_t_color;

  &:hover {
    text-decoration: underline;
  }
}

.copyright {
  color: #9f9f9f;
  font-size: 13px;
  letter-spacing: .014em;

  p {
    margin-bottom: 4px;
  }

  a {
    text-decoration: none;
    color: $clr_orange;

    &:hover {
      text-decoration: underline;
    }
  }
}

$rectWidth: $content-max-w;

.rect_1024 {
  @extend %hor_centr;
  position: absolute;
  width: $rectWidth;
  max-width: 100%;
  top: 0;
  bottom: 0;
  border: solid red;
  border-width: 0 1px;
  z-index: 10;
  pointer-events: none;

  &:after {
    @extend %hor_centr;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: red;
  }
}


