//*************************** header

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 100px;
}

.logo_block {
  float: left;
  line-height: 50px;
}

.logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  img {
    display: block;
    width: 100%;
  }
}

.mob_menu_btn {
  float: right;
  position: relative;
  z-index: 7;
  margin: 2px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: $clr_orange;

  &:before {
    top: 17px;
  }

  &:after {
    top: 21px;
  }

  span,
  &:after,
  &:before {
    @include transition_all(transform .3s, top .3s);
    content: '';
    position: absolute;
    left: 15px;
    width: 14px;
    height: 2px;
    background: white;
  }

  span {
    @include transition_all(opacity .3s);
    width: 8px;
    top: 25px;
    opacity: 1;
  }

  .menu_opened & {
    &:before {
      transform: rotate(-45deg);
      top: 21px;
    }

    &:after {
      transform: rotate(45deg);
      top: 21px;
    }

    span {
      opacity: 0;
    }
  }

  @include respond-to-min($resp_step_1) {
    margin: 5px;
  }

  @include respond-to-min($resp_step_2) {
    display: none;
  }
}

// *********  menu

.main_menu_holder {

  @include respond-to-min($resp_step_2) {
    float: right;
    position: relative;
    margin-right: -2px;

    &:after,
    &:before {
      content: '';
      position: absolute;
      bottom: -3px;
      height: 3px;
      background: $clr_orange;
      width: 5000px;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }
  }

  @include respond-to-max($resp_step_2) {
    @include transition_all(transform .3s);
    @include transform_translate(100%, 0);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 280px;
    overflow: hidden;
    z-index: 5;
    background: #fff;
    padding: 85px 0 75px;
    box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.25);

    .menu_item {
      margin-top: 10px;
    }

    .menu_link {
      padding: 0 10px;
    }

    .menu_opened & {
      @include transform_translate(0, 0);
    }
  }
}

.main_menu {
  @extend %clearfix;
}

.menu_item {
  @include respond-to-min($resp_step_2) {
    float: left;
    padding-right: 2px;

    &:first-child {
      padding-left: 2px;
    }
  }
}

.menu_link {
  cursor: pointer;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #505050;
  font: bold 14px/26px $OpenSans;
  letter-spacing: .06em;
  text-transform: uppercase;

  @include respond-to-min($resp_step_2) {
    min-width: 146px;
    padding: 14px 0 10px;

    &:before {
      @include transition_all(height .3s);
      content: '';
      position: absolute;
      bottom: -3px;
      right: 0;
      left: 0;
      height: 3px;
      background: $clr_orange;
    }

    &:hover {
      &:before {
        height: 6px;
        background: darken($clr_orange, 5%);
      }
    }
  }
}

.breadcrumbs {
  @extend %clearfix;
  padding-bottom: 18px;

  li {
    position: relative;
    float: left;
    padding-left: 20px;
    color: #8d8d8d;
    font-size: 13px;
    margin-bottom: 5px;

    &:before {
      content: '/';
      position: absolute;
      top: 0;
      left: 8px;
    }

    &:first-child {
      padding-left: 0;

      &:before {
        display: none;
      }
    }
  }
}

.crumb_link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
