html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font: 14px/1.2 $OpenSans;
  color: $default_t_color;
}

.hide {
  display: none !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  @extend %global_flex_block_column_nowrap_center_stretch;
  position: relative;
  min-height: 100%;
  padding: 56px 0 0;
  overflow: hidden;

  @include respond-to-min($resp_step_2) {
    padding-top: 73px;
  }
}

.base {
  //padding-bottom: 12px;
  flex: 1 0 auto;
}

.section_inner {
  width: 100%;
  padding: 0 15px;
  max-width: $content-max-w;
  margin: 0 auto;
}

.content_holder {
  @extend %clearfix;
}

.content_block {

  @include respond-to-min($resp_step_1) {
    float: left;
    width: 66%;
  }

  @include respond-to-min($resp_step_2) {
    width: 74.5%;
  }
}

.aside {
  padding: 30px 0;

  @include respond-to-min($resp_step_1) {
    float: right;
    width: 34%;
    padding: 0 0 30px 20px;
  }

  @include respond-to-min($resp_step_2) {
    width: 25.5%;
  }
}

.main_slider {
  margin: 0 auto 22px;
  max-width: 1300px;
  position: relative;

  @include respond-to-max($resp_step_1) {
    overflow: visible;
  }

  .slide {
    position: relative;

    .section_inner {
      position: relative;
      height: 100%;
      max-width: 980px;
      padding: 0;
    }
  }

  .slide_content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  ._link {
    @include transition_all(color .3s);
    color: transparentize(#ffef3c, .5);
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      color: #ffef3c;
    }

    span {
      color: #ffef3c;
    }
  }

  .slide_info_holder {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 50%;
    padding: 50px 0 65px;

    @include respond-to-min($resp_step_1) {
      padding-right: 150px;
      padding-bottom: 35px;
    }
  }

  .slide_info {
    border-left: 3px solid $clr_orange;
    padding-left: 20px;
    padding-bottom: 5px;

    p {
      font-weight: 500;

      + p {
        margin-top: 10px;
      }
    }
  }

  .slide_search_form {
    pointer-events: all;
    position: relative;

    @include respond-to-min($resp_step_1) {
      @include transform_translate(0, -50%);
      top: 50%;
      position: absolute;
      right: 0;
      left: 0;
      margin-top: -38px;

      &._wide {
        margin-top: -130px;
      }
    }

    form > .input_w {
      margin-right: 64px;
    }

    @include respond-to-min($resp_step_1) {
      margin-top: 0;

      &._wide {
        margin-top: 0;
      }

      form > .input_w {
        margin-right: 200px;
      }
    }
  }

  .slide_title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 50%;
    padding-bottom: 105px;
    text-align: center;
    color: #fff;
    letter-spacing: .025em;
    font: 300 20px/1.6 $Montserrat;

    @include respond-to-min($resp_step_1) {
      font-size: 30px;
      padding-bottom: 15px;
    }

    p {
      display: block;
    }
  }
}

.slider_search_holder {
  padding-top: 15px;

  @include respond-to-min($resp_step_1) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
    pointer-events: none;
    padding: 0 90px;

    .section_inner {
      position: relative;
      height: 100%;
      max-width: 980px;
      padding: 0;
    }
  }
}

.main_slider_controls {
  position: absolute;
  height: 585px;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 0 15px;
  pointer-events: none;
  
  > * {
    pointer-events: all;
  }

  @include respond-to-min($resp_step_1) {
    padding: 0 90px;
  }
  
  .swiper-pagination {
    right: 10px;
    bottom: 10px;
    left: 10px;
    text-align: center;

    @include respond-to-min($resp_step_1) {
      right: 90px;
      bottom: 70px;
      left: auto;
      text-align: right;
    }

    @include respond-to-min($resp_step_2) {
      right: 190px;
    }

    .swiper-pagination-bullet {
      pointer-events: all;
      width: 26px;
      height: 26px;
      border: none;
      background: none;
      position: relative;
      opacity: 1;
      cursor: pointer;
      margin-left: 2px;

      &:before {
        @include transition_all(width .3s, height .3s, border .3s);
        @extend %hor_vert_centr;
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border: 3px solid #fff;
        border-radius: 100%;
      }

      &.swiper-pagination-bullet-active {
        cursor: default;

        &:before {
          width: 16px;
          height: 16px;
          border: 2px solid #fff;
        }
      }
    }
  }

  .main_slider_next {
    right: 0;

    @include respond-to-min($resp_step_2) {
      right: 48px;
    }

    &:before {
      content: unicode($i-chevron-thin-right);
    }
  }

  .main_slider_prev {
    left: 0;

    @include respond-to-min($resp_step_2) {
      left: 48px;
    }

    &:before {
      content: unicode($i-chevron-thin-left);
    }
  }

  .main_slider_next,
  .main_slider_prev {
    @include transition_all(opacity .3s);
    @extend %icon_pseudo;
    pointer-events: all;
    position: absolute;
    top: 50%;
    margin-top: -27px;
    height: 54px;
    font-size: 54px;
    text-align: center;
    line-height: 54px;
    opacity: .51;
    color: #fff;
    cursor: pointer;
    font-weight: 300;

    &._search {
      margin-top: 0;
      top: auto;
      bottom: 38px;
    }

    &:hover {
      opacity: 1;
    }

    @include respond-to-max($resp_step_1) {
      display: none !important;
    }
  }
}

.section {
  padding: 22px 0 10px;

  &._company {
    padding-top: 0;

    .company_name {
      padding-top: 0;
    }

    .company_link {
      font: 500 21px $Montserrat;
    }

    .company_type {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

  &._map {
    position: relative;
    height: 250px;

    @include respond-to-min($resp_step_2) {
      height: 505px;
    }
  }

  &._map_filter {
    padding: 14px 0 4px;
    background: #fff;
    line-height: 33px;
    min-height: 62px;
  }

  &._map_tags {
    padding: 0;
    background: #ededed;
  }

  &._bdr {
    border-top: 1px solid #e4e4e4;
  }

  &._gray {
    background: #f2f2f2;
  }
}

.filter_block {
  float: left;
  padding-right: 10px;
}

.wide_map_link {
  @include transition_all(color .3s);
  @extend %icon_pseudo;
  color: transparentize($clr_orange, .49);
  float: right;
  position: relative;
  cursor: pointer;
  padding-right: 24px;
  letter-spacing: .025em;
  text-decoration: underline;

  span {
    cursor: pointer;
    color: $clr_orange;
  }

  &:before {
    content: unicode($i-search);
    text-decoration: none !important;
    position: absolute;
    top: 50%;
    font-size: 22px;
    margin-top: -11px;
    right: -5px;
    color: $clr_orange;
  }

  &:hover {
    color: $clr_orange;
  }
}

.map_tags_list {
  @extend %clearfix;
  margin-left: -10px;
  padding-bottom: 10px;

  &._filter {
    @include respond-to-min($resp_step_1) {
      float: right;
      margin-left: 8px;
      margin-top: -10px;
    }
  }

  li {
    float: left;
    padding-left: 10px;
    margin-top: 10px;
  }
}

.aside_map_title {
  text-align: center;
  font: 500 16px $OpenSans;
  letter-spacing: .03em;
  padding: 12px 5px;
  background: #fff;
}

.aside_map {
  position: relative;
  height: 295px;
}

.map_block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.section_title {
  @extend %clearfix;
  color: #505050;
  font: 21px $Montserrat;
  letter-spacing: .025em;
  margin-bottom: 20px;
}

.text_block {
  padding-top: 12px;
  padding-bottom: 10px;

  @include respond-to-min($resp_step_1) {
    padding-bottom: 20px;
  }

  .section_title {
    margin-bottom: 18px;
  }

  p {
    line-height: 1.4;
    letter-spacing: .04em;

    + p {
      margin-top: 18px;
    }
  }
}

.news_list,
.flat_list {
  @extend %global_flex_block_row_wrap_flex_start_stretch;
  margin-left: -20px;

  > li {
    margin-bottom: 20px;
    padding-left: 20px;
    flex: 1 0 auto;
    max-width: 100%;

    @include respond-to-max($resp_step_1) {

      .content_block & {
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include respond-to-min($resp_step_1) {
    > li {
      width: 50%;
      max-width: 50%;
    }
  }

  @include respond-to-min($resp_step_2) {

    > li {
      width: 25%;
      max-width: 25%;

      .content_block & {
        width: 33.3333%;
        max-width: 33.3333%;
      }
    }
  }
}

.news_list {
  .section_title {
    margin-bottom: 10px;
  }

  @include respond-to-min($resp_step_1) {
    padding-top: 20px;

    &._short {
      padding-top: 0;
    }
  }

  @include respond-to-max($resp_step_1) {
    > li {
      margin-bottom: 40px;
    }
  }
}

.news_unit {
  &._white {
    background: #fff;
    padding-bottom: 20px;
  }

  > p {
    line-height: 1.3;

    @include respond-to-min($resp_step_1) {
      font-size: 15px;
    }

    .aside_promo & {
      padding-left: 14px;
      padding-right: 14px;
      font-size: 13px;
      letter-spacing: .03em;
    }

    + p {
      margin-top: 15px;
    }
  }
}

.search_tags {
  @extend %clearfix;
  margin-left: -10px;

  .company_description & {
    margin-top: 15px;

    @include respond-to-min($resp_step_1) {
      margin-bottom: -20px;
    }

    .btn_v2.search_tag {
      padding: 5px 10px;
      font-size: 13px;
    }

  }

  &._mod_1 {
    margin-top: -16px;
    padding-bottom: 16px;
  }

  li {
    float: left;
    padding-left: 10px;
    margin-bottom: 10px;
  }
}

.aside_promo {
  //padding-bottom: 15px;

  li {
    margin-bottom: 20px;
  }
}

.promo_title {
  font-weight: 500;
  font-size: 18px;
  padding: 10px 14px 12px;
  letter-spacing: .03em;

  .news_link {
    color: $clr_orange;
  }
}

.news_title {
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 10px;
  padding-bottom: 10px;
  letter-spacing: .025em;
  border-bottom: 1px solid #d2d2d2;

  @include respond-to-min($resp_step_1) {
    height: 5.3em;
    overflow: hidden;
    padding-bottom: 0;
  }

  ._short & {
    border-bottom: 0;
    margin-bottom: 7px;
    height: auto;
  }
}

.news_link {
  color: $default_t_color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.news_img {
  position: relative;
  overflow: hidden;
  display: block;
  margin-bottom: 13px;

  img {
    display: block;
    width: 100%;
  }
}

.news_img_caption {
  @extend %icon_pseudo;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: .025em;
  padding: 12px 45px 12px 14px;

  span {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .85;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  }

  &:after {
    content: unicode($i-chevron-thin-right);
    position: absolute;
    right: 14px;
    bottom: 8px;
    color: #fff;
    background: $clr_orange;
    width: 28px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    border-radius: 100%;
  }

}

.more_link {
  @include transition_all(color .3s);
  color: transparentize($clr_orange, .49);
  position: relative;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;

  span {
    cursor: pointer;
    color: $clr_orange;
  }

  &:hover {
    color: $clr_orange;
  }
}

.flat_thumb_slider {
  width: 100%;
  margin-bottom: 5px;

  .slide {
    @include transition_all(opacity .3s);
    opacity: .5;
    position: relative;
    padding-bottom: 15px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &.swiper-slide-active {
      opacity: 1;
      cursor: default;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 3px;
        background: $clr_orange;
      }
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  @include respond-to-min($resp_step_2) {
    padding: 0 60px;
  }
}

.flat_slider_holder {
  flex: 1 0 auto;
}

.flat_slider {
  width: 100%;
  margin-bottom: 25px;

  @include respond-to-min($resp_step_1) {
    margin-bottom: 15px;
  }

  .slide {
    text-align: center;

    img {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
    }
  }
}

.company_tags {
  @extend %global_flex_block_row_wrap_flex_start_stretch;
  border-left: 1px solid #d2d2d2;
  margin: 15px 0;
  font-size: 13px;
  line-height: 14px;

  li {
    text-align: center;
    padding: 0 5px;
    border-right: 1px solid #d2d2d2;

    @include respond-to-min($resp_step_2) {
      min-width: 20%;
    }
  }
}

.company_unit {
  min-height: 100%;
  background: #fff;
  padding: 0 20px 15px;

  &._wide {
    @extend %global_flex_block_row_wrap_flex_start_stretch;
    position: relative;
    padding: 0;
    margin-bottom: 20px;

    .flat_unit_features {

      @include respond-to-min($resp_step_1) {
        font-size: 14px;
      }

      > li {
        padding-top: 5px;
      }
    }

    .company_name {
      font: 500 18px $OpenSans;
      padding-top: 48px;
    }

    .company_img {
      display: inline-block;
      vertical-align: top;
      height: 145px;
      line-height: 145px;

      &:before {
        display: none;
      }
    }
  }
}

.description_map {
  position: relative;
  min-height: 320px;
  flex: 1 0 auto;
  border: 1px solid #d3d3d3;
}

.company_description {
  position: relative;
  border: solid #d3d3d3;
  border-width: 1px 0;
  padding-bottom: 25px;
  width: 100%;

  p {
    color: #505050;
    letter-spacing: .02em;
  }

  @include respond-to-min($resp_step_1) {
    float: left;
    width: 50%;

    &._gallery {
      @include flex_block(column nowrap, space-between, stretch);
    }

    p {
      font-size: 14px;
    }

    &:first-child {
      padding-right: 20px;

      &:after {
        right: 0;
        border-left: 1px solid #d3d3d3;
      }

      + .company_description {
        padding-left: 20px;
      }
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: -1px;
      bottom: -1px;
      pointer-events: none;
    }
  }

  @include respond-to-min($resp_step_2) {

    &:first-child {
      padding-right: 40px;

      &:after {
        right: 0;
        border-left: 1px solid #d3d3d3;
      }

      &:before {
        left: -60px;
        width: 60px;
        border: solid #d3d3d3;
        border-width: 1px 0 1px 1px;
      }

      + .company_description {
        padding-left: 53px;

        &:before {
          width: 60px;
          right: -60px;
          border: solid #d3d3d3;
          border-width: 1px 1px 1px 0;
        }
      }
    }
  }
}

.company_add_date {
  color: #8d8d8d;

  @include respond-to-max($resp_step_1) {
    padding-top: 10px;
    clear: both;
  }

  @include respond-to-min($resp_step_1) {
    float: right;
  }
}

.company_type {
  @extend %clearfix;
  font-size: 13px;
}

.company_info {
  @extend %clearfix;
  font-size: 13px;
  line-height: 1.5;

  dt {
    color: #8d8d8d;
  }

  dd {
    color: #505050;
  }

  dd,
  dt {
    margin-top: 10px;
    float: left;

    &._wide {
      width: 100%;
      margin-top: 35px;
    }
  }
}

.company_img {
  position: relative;
  display: block;
  height: 160px;
  line-height: 160px;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -20px;
    left: -20px;
    border-bottom: 1px solid #d2d2d2;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    line-height: 1;
  }
}

.company_name {
  padding: 14px 0 5px;
  letter-spacing: .03em;
}

.company_link {
  color: #505050;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.flat_unit {
  min-height: 100%;
  background: #fff;
  padding: 22px 18px;

  > p {
    line-height: 1.3;
    letter-spacing: .03em;
  }
}

.flat_unit_date {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  color: #fff;
  background: $clr_orange;
  padding: 8px 11px;
  font-size: 12px;
  letter-spacing: .02em;
}

.flat_features {
  display: none;
}

.flat_features_list {
  @extend %clearfix;
  margin-right: -10px;
  padding: 20px 0 7px;

  li {
    float: left;
    padding-right: 10px;
    margin-bottom: 10px;
  }
}

.flat_feature {
  display: block;
  height: 25px;
  padding: 5px 7px;
  color: #8d8d8d;
  background: #ededed;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: .015em;
}

.flat_promo {
  font-size: 13px;
  letter-spacing: .015em;
}

.flat_unit_img {
  position: relative;
  display: block;
  height: 130px;
  margin-bottom: 22px;

  &._newbe {
    margin: -22px -18px 15px;
    height: 160px;

    img {
      min-width: 100%;
      min-height: 100%;
    }
  }

  img {
    @extend %hor_vert_centr;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
  }
}

.flat_unit_caption {
  color: #505050;
  letter-spacing: .025em;
  margin-bottom: 2px;

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  sup {
    font-size: .7em;
    display: inline-block;
    vertical-align: top;
  }
}

.flat_price {
  @extend %clearfix;
  margin-bottom: 14px;
  padding-top: 28px;
}

.flat_option_val {
  color: #505050;
  font: bold 21px $OpenSans;
}

.flat_controls {
  padding-bottom: 15px;

  p {
    margin-top: 10px;
  }

  @include respond-to-min($resp_step_2) {
    float: right;
    width: 33.33%;
    text-align: center;
  }
}

.claim_link {
  @include transition_all(color .3s);
  text-decoration: none;
  color: #8d8d8d;

  &:hover {
    color: $default_t_color;
  }
}

.flat_contacts {
  padding-bottom: 15px;

  p {
    margin-top: 10px;
  }

  @include respond-to-min($resp_step_2) {
    float: left;
    width: 65%;
  }
}

.flat_phone {
  color: $clr_orange;
  font: 500 20px/40px $OpenSans;

  @include respond-to-min($resp_step_2) {
    font-size: 30px;
  }
}

.flat_params {
  @extend %clearfix;
  clear: both;
  border-top: 1px solid #d3d3d3;
  padding-top: 10px;
  margin-bottom: 25px;

  .flat_unit_features {
    p {
      font-size: 13px;
    }
  }

  @include respond-to-min($resp_step_1) {
    padding-top: 18px;

    .flat_unit_features {
      padding-top: 8px;
    }

    > li {
      float: left;
      width: 48%;
      padding-right: 10px;
    }
  }
}

.flat_option_label {
  color: #8d8d8d;
  letter-spacing: .03em;
}

.flat_options {

  li {
    border-top: 1px solid #fff;
    padding: 10px;
    background: #ededed;
    margin-bottom: 12px;

    &:first-child {
      background: #505050;

      .flat_option_label,
      .flat_option_val {
        color: #fff;
      }
    }
  }

  @include respond-to-min($resp_step_2) {
    @include flex_block(row wrap, flex-start, stretch);

    li {
      padding: 20px 10px 20px 20px;
      width: 33.33%;
      border-left: 1px solid #fff;

      sup {
        font-size: .7em;
        display: inline-block;
        vertical-align: top;
      }

      &:first-child {
        border-left: 0;
      }
    }
  }
}

.flat_price_val {
  font: 500 20px/32px $OpenSans;
  color: #505050;
  padding-right: 10px;
  float: left;

  @include respond-to-min($resp_step_1) {
    font-size: 30px;
    padding-right: 20px;
  }
}

.price_currency {
  float: left;

  li {
    float: left;
    padding-right: 8px;
  }
}

.flat_unit_price {
  color: $clr_orange;
  font-size: 18px;
  letter-spacing: .02em;
  margin-bottom: 15px;
}

.flat_unit_features {
  @extend %global_flex_block_row_wrap_flex_start_stretch;
  font-size: 13px;
  line-height: 1.5;

  > li {
    padding-top: 13px;
    padding-right: 5px;

    span:first-child {
      color: #8d8d8d;
      padding-right: 4px;
    }
  }

  .col_1 {
    width: 38%;

    @include respond-to-max($resp_step_1) {
      width: 100%;
    }
  }

  .col_2 {
    width: 38%;

    @include respond-to-max($resp_step_1) {
      width: 50%;
    }
  }

  .col_3 {
    width: 24%;

    @include respond-to-max($resp_step_1) {
      width: 50%;
    }
  }

  .col_4 {
    width: 100%;
  }

  .col_5 {
    width: 55%;
  }

  .col_6 {
    width: 45%;
  }
}

.flat_unit_link {
  color: $clr_orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.balloon_content {
  width: 230px;
}

.balloon_img {
  margin-bottom: 10px;

  img {
    display: block;
    width: 100%;
  }
}

.balloon_features {
  @extend %clearfix;
  font: 13px $OpenSans;
  padding-bottom: 7px;

  sup {
    font-size: .7em;
    display: inline-block;
    vertical-align: top;
  }

  dt {
    clear: both;
    color: #a8a8a8;
    padding-right: 3px;

    &._wide {
      margin-top: 8px;
    }
  }

  dt,
  dd {
    float: left;
  }

  dd {
    margin-bottom: 2px;
  }

  ._wide {
    width: 100%;
    padding-right: 0;
  }
}

.balloon_transport_icon {
  @extend %icon_pseudo;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #ffef3c;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  margin: -5px 4px -5px 16px;

  &._car {
    &:before {
      content: unicode($i-car);
    }
  }
}

.balloon_name {
  font: bold 14px $OpenSans;
  margin-bottom: 5px;
}

.balloon_list {
  width: 210px;
  max-height: 280px;
  overflow-y: auto;
  font: 13px $OpenSans;

  sup {
    font-size: .7em;
    display: inline-block;
    vertical-align: top;
  }

  dt {

  }

  dd {
    color: #a8a8a8;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

._fz_24 {
  font-size: 24px;
}

._fz_18 {
  font-size: 18px;
}

._fz_16 {
  font-size: 16px;
}

._fz_13 {
  font-size: 13px;
}

._fw_500 {
  font-weight: 500;
}

._ff_os {
  font-family: $OpenSans;
}

._ff_mn {
  font-family: $Montserrat;
}

._let_025 {
  letter-spacing: .025em;
}

._let_-025 {
  letter-spacing: -.025em;
}

._wnw {
  white-space: nowrap;
}
