include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Kvartyroom полезное')

    body
        .wrapper
            .base
                +header()

                .main_content
                    .section_inner
                        +breadcrumbs(['Главная', 'Полезное', 'В ЖК «Томилино» открылись шоу-румы'])

                        h1.section_title В ЖК «Томилино» открылись шоу-румы

                        .content_holder
                            .content_block
                                .article_block
                                    figure
                                        img(src='i/show_room.jpg')

                                    p
                                        b ГК «Гранель» передала ключи обманутым дольщикам ЖК «Квартал Лукино»

                                    p Uруппа компаний «Рассвет» открывает пять шоу-румов в малоэтажном жилом комплексе «Томилино». Несколько квартир будут полностью оборудованы мебелью. <br>Гости малоэтажного жилого комплекса «Томилино» уже сейчас могут посетить три шоу-рума, расположенных в доме № 3 – квартиру-студию площадью 31,28 кв. м, однокомнатную квартиру площадью 36,77 кв. м и двухкомнатную площадью 58,31 кв. м Всего в проекте запланировано открытие пяти шоу-румов, три из которых будут полностью меблированы.

                                    p Группа компаний «Рассвет» реализует все квартиры в жилом комплексе «Томилино» с отделкой «под ключ». В демонстрационных квартирах покупатели смогут оценить качество материалов и отделки, а также увидеть варианты планировочных решений.<br>«Когда вы покупаете жилье в проекте на стадии строительства, сложно представить себе, как будет выглядеть та или иная планировка, насколько качественную отделку предлагает застройщик, какие интерьерные решения можно использовать в своей будущей квартире. Именно поэтому мы открываем не один-два шоу-рума, а целых пять: у покупателей будет возможность оценить функциональные возможности как квартиры-студии площадью порядка 30 кв. м, так и двухкомнатной квартиры, метраж которой в два раза больше. Поскольку мы реализуем только квартиры с готовым ремонтом, нам важно показать, насколько качественную отделку мы предлагаем, какие материалы при этом используем. Приглашаем всех посетить наши новые шоу-румы», – отметил Андрей Гайдуков, руководитель отдела маркетинга и рекламы ГК «Рассвет».

                                    p Шоу-румы расположены по адресу: Московская область, Люберецкий район, п. Жилино-1, ул. Колхозная. <br>Малоэтажный жилой комплекс «Томилино» представляет собой проект комплексного освоения территории, который включает две школы, четыре детских сада, детскую и взрослую поликлиники, физкультурно-оздоровительный комплекс, спортивные площадки, торгово-развлекательный центр и три автомобильных паркинга. Центром микрорайона станет пруд, окруженный прогулочной зоной. На территории комплекса жители смогут совершить прогулку по живописному парку, яблоневому саду или набережной. Проект расположен всего в 10 км от МКАД, поэтому быстро добраться до ЖК «Томилино» можно как на личном, так и на общественном транспорте.

                            +aside()

            +footer()

    +scripts()
