@font-face {
  font-family: 'kvartyroom';
  src:  url('fonts/kvartyroom.eot?x8wj6v');
  src:  url('fonts/kvartyroom.eot?x8wj6v#iefix') format('embedded-opentype'),
    url('fonts/kvartyroom.ttf?x8wj6v') format('truetype'),
    url('fonts/kvartyroom.woff?x8wj6v') format('woff'),
    url('fonts/kvartyroom.svg?x8wj6v#kvartyroom') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kvartyroom' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-close:before {
  content: "\e908";
}
.i-car:before {
  content: "\e905";
}
.i-vk:before {
  content: "\e903";
}
.i-search:before {
  content: "\e900";
}
.i-fb:before {
  content: "\e904";
}
.i-chevron-thin-left:before {
  content: "\e901";
}
.i-chevron-thin-right:before {
  content: "\e902";
}
.i-chevron-thin-up:before {
  content: "\e906";
}
.i-chevron-thin-down:before {
  content: "\e907";
}
.i-location:before {
  content: "\e947";
}
