$icomoon-font-path: "fonts" !default;

$i-close: \e908;
$i-car: \e905;
$i-vk: \e903;
$i-search: \e900;
$i-fb: \e904;
$i-chevron-thin-left: \e901;
$i-chevron-thin-right: \e902;
$i-chevron-thin-up: \e906;
$i-chevron-thin-down: \e907;
$i-location: \e947;

